<p id="notice"><%= notice %></p>

<h4>Editing <%= @question.category %></h4>

<table class="table table-striped shadow"
<div class = "col-xs-12 shadow admin-panels">
  <div class = "col-xs-6">
    <li>Name of Competency:</li>
    <li>Category of Competency:</li>
    <li>Weight:</li>
  </div>
  <div class = "col-xs-6">
    <li>Description</li>
    <li>Category of Competency:</li>
    <li>Weight:</li>
  </div>
</div>
</table>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
