<h4>Scorecards Home</h4>

<% if !@cards %>

<div id="filterrific_results">
  <%= render :partial => "scores/list", :locals => {:scores => @scores} %>
</div>

<% else %>
    <% if @scores == [] %>
        <div>
          <br>
          <h4> Well Done! All Scorecards completed for the next two weeks!</h4>
        </div>
    <% end %>

    <% @scores.each_with_index do |score, index| %>
        <% if !score.completed %>
            <%= render :partial => "shared/profile_block_thin", :locals => {:user => score.trainee.user, :score => score, :index => index} %>
        <% end %>
    <% end %>
<% end %>


