<h4>Scorecards Home</h4>

<% @scores.each_with_index do |score, index| %>
  <row>
      <%= render :partial => "shared/profile_block_thin", :locals => {:user => score.trainee.user, :score => score, :index => index} %>
  </row>
<% end %>



