<h4>Scorecards Home</h4>

<% if current_user.role?('admin') %>

<div id="filterrific_results">
  <%= render :partial => "scores/list", :locals => {:scores => @scores} %>
</div>

<%= link_to "CSV", scores_path(format: "csv") %> |

<% else %>
    <% @scores.each_with_index do |score, index| %>
        <% if !score.completed %>
            <%= render :partial => "shared/profile_block_thin", :locals => {:user => score.trainee.user, :score => score, :index => index} %>
        <% end %>
    <% end %>
<% end %>


<script>
    $('.js-datepicker').datepicker();
</script>

