<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">

  <div class = 'row' style = 'margin-left: 30px'>
    <div class="col-xs-3 user-profile">
        <h4>Areas of Strength</h4>
    </div>
    <div class="col-xs-9">
      <% aos.each do |c| %>
        <div class = 'col-xs-4 button'><%= c[0] %></div>
      <% end %>
    </div>
  </div>
  <div class = 'row' style = 'margin-left: 30px'>
    <div class="col-xs-3 user-profile">
      <h4>Areas of Weakness</h4>
    </div>
    <div class="col-xs-9">
      <% aow.each do |c| %>
          <div class = 'col-xs-4 button '><%= c[0] %></div>
      <% end %>
    </div>
  </div>


</div>