<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">

  <div class = 'row' style = 'margin-left: 30px'>
    <div class="col-xs-3 user-profile">
        <h4 style="color: #5FCE8A;  ">Areas of Strength</h4>
    </div>
    <div class="col-xs-9" style="width: 100%;">
      <% score.area_of_strength.competencies.each do |c| %>
        <div class = 'col-xs-4 button' style="background-color: #FFFFFF; border: 2px solid #5FCE8A; width: 30%; text-align: center; margin: 1em;"><%= c.name %></div>
      <% end %>
    </div>
  </div>
  <div class = 'row' style = 'margin-left: 30px; margin-top: 1em;'>
    <div class="col-xs-3 user-profile">
      <h4 style="color: #ee4036;">Areas of Weakness</h4>
    </div>
    <div class="col-xs-9" style="width: 100%; margin-bottom: 1em;">
      <% score.area_of_weakness.competencies.each do |c| %>
          <div class = 'col-xs-4 button' style="background-color: #FFFFFF; border: 2px solid #ee4036; width: 30%; text-align: center; margin: 1em;"><%= c.name %></div>
      <% end %>
    </div>
  </div>


</div>