<div class="col-xs-3">
  <%#= link_to 'Back', scores_path %>
</div>
<div class="col-xs-5">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-dismissible alert-#{name} alert-success" %>
  <% end -%>
</div>
<div class="col-xs-4 settings-header">
  <ul>
    <%= link_to destroy_user_session_path, :method => :delete, data: { confirm: "Log Out?" }, :redirect => 'pages/home' do %>
        <li style="border: 0">
            <span class="glyphicon glyphicon-log-out icon-largest" aria-hidden="true" style="color: #9fb0b7"></span>
        </li>
    <% end %>
    <%= link_to edit_user_registration_path do %>
        <li style="border: 0">
          <span class="glyphicon glyphicon-user icon-largest" aria-hidden="true" style="color: #9fb0b7"></span>
        </li>
    <% end %>
    <li><div style="padding: 5px; background-color: #e0e5e8"><%= Date.today.strftime("%B %d, %Y") %></div></li>
  </ul>
</div>