<div class="settings-header">
  <ul>
    <li><%= link_to (root_path) do %>
        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
      <% end %>
    </li>
    <li><%= Date.today.strftime("%B %d, %Y") %></li>
  </ul>
</div>