<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">
  <row>
    <div>
      <%= area_chart @graph.each_with_index.map{|graph, i|
                       {name: $graph_labels[i], data: graph}
                     },library: {isStacked: "false", areaOpacity: "0.3"}, min: 0, max: 100 %>

<#%=colors:['#344a57','#507e98','#0db4e1','#97daeb']%></#>

      <%= line_chart @graph.map{|graph|
                       {name: '1', data: graph}
                     } %>
    </div>
  </row>
</div>
