<div class = viz-square>
  <% if @time_taken %>
    <div class = "vert viz-square-vert" style = "padding-left: 25px ">
        <% 10.times do |i| %>
          <row>
            <div>
              <div class="col-xs-1 vert-re" style="padding:0px">
                <small><%= i %></small>
              </div>
              <div class="col-xs-11" style="padding:0px">
                  <div class="progress" style="height:8px">
                    <div class="progress-bar progress-bar-orange" role="progressbar" style="width:<%= @time_taken[i] %>%"></div>
                  </div>
              </div>
              <br>
            </div>
          </row>
        <% end %>
    </div>
  <% end %>
</div>
