<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">
  <row>
    <div>
      <svg id='bargraph-svg-graph' viewbox='0 0 500 300' preserveAspectRatio='xMinYMin meet' class='svg-content'>
      </svg>
    </div>
  </row>
</div>
