<div class='disable_input'>
<%= link_to 'Back', surveys_path, {:class=> 'button'} %>

<h3>View your custom Scorecard</h3>

<%= render 'form' %>

</div>


<script>
    $('.disable_input :input').prop('disabled', true);
</script>

