<h1>Listing Scorecards</h1>
<div style="margin-top: 2em; margin-bottom: 2em;">
<%= link_to 'Add a New Scorecard', new_survey_path, :class=> 'newbutton' %>
</div>
<table class="table table-striped shadow" style="font-size: 8pt,">
  <thead>
    <tr>
      <th>Scorecard Name</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= link_to edit_survey_path(survey) do %>
              <span class="glyphicon glyphicon-edit icon-larger .edit-button-color"></span>
          <% end %>
        </td>
        <td><%= link_to survey, method: :delete, data: { confirm: 'Delete Scorecard? Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove icon-larger delete-button-color"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

