/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

.survey-topbar
  padding: 10px
  table
    tr
      td
        padding: 10px

.settings-header
  li
    display: inline
    float: right
    padding: 10px

.scorecard
  table
    tr
      td
        border: 0 none
        border-right: 1px solid lightgrey
        border-left: 1px solid lightgrey
    thead
      tr
      background-color: lightgrey


.shadow
  -moz-box-shadow: 0 0 5px #888
  -webkit-box-shadow: 0 0 5px#888
  box-shadow: 0 0 5px #888

.user-profile
  padding: 20px

.user-side
  li
    padding: 10px


.sidebar
  ul
    border-bottom: 1px solid #e7e7e7

  li
    border-bottom: 1px solid #e7e7e7
