/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$background-color: #333132

$graph-dark-color: #56849d
$graph-medium-color: #0cb3e1
$graph-light-color: #97daec

$graph-circle-color: #1ab3db

.footer
  height: 55px
  background-color: #081b29
  padding-left: 50px
  padding-top: 20px
  font-size: 75%
  color: white


#main-container
  background-color: #f2f2f2
  width: 80%

.sidebar-nav
  ul
    li
      padding-left: 25px
      span
        padding-right: 10px

.icon-larger
  font-size: 1.2em

.icon-largest
  font-size: 2em

.alert
  padding: 10px
  margin: 0px


.admin-panels
  padding: 10px
  li
    list-style-type: none
    padding: 10px
    padding-left: 20px


.survey-topbar
  background-color: #ffffff
  padding: 10px
  table
    tr
      td
        padding: 10px

.settings-header
  li
    display: inline
    float: right
    padding: 10px
    border-right: solid 1px
    border-color: #9fb0b7

.scorecard
  table
    background-color: #ffffff
    tr
      td
        border: 0 none
        border-right: 1px solid lightgrey
        border-left: 1px solid lightgrey
    thead
      tr
      background-color: lightgrey

.col-xs-3

.shadow
  background-color: white
  border-radius: 5px
  -moz-box-shadow: 0 0 7px #888
  -webkit-box-shadow: 0 0 7px#888
  box-shadow: 0 0 7px #888

.user-profile
  background-color: #ffffff
  padding: 10px

.nav-second-level
  background-color: #002834
  li
    background-color: #081b29

.user-side
  background-color: #081b29
  li
    padding: 20px
    color: white
  .thumb-text
    padding-left: 15px
    float: bottom
    small
      padding-left: 15px

.sidebar-nav
  padding: 0px

.col-xs-3
  padding: 0px


.scrollable
  max-height: 250px
  overflow-y: auto

::-webkit-scrollbar
  width: 12px


/* Track */
::-webkit-scrollbar
  width: 6px


::-webkit-scrollbar-track
  border-radius: 5px

/* Handle */
::-webkit-scrollbar-thumb
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #024756

::-webkit-scrollbar-thumb:window-inactive
  background: #0f2b39


.orange-text
  a
    color: #ff5b5a !important
    span
      color: #36798c !important

.menu-padding
  padding-left: 25px
  padding-right: 25px

#side-menu
  background-color: #002834
  li
    border-bottom: 1px solid #024756
    a
      color: #36798c

.sidebar
  background-color: #081b29
  color: #1695b6
  height: 100%
  ul
    border-bottom: 1px solid #0f2b39

  li
    border-bottom: 1px solid #0f2b39
  a:hover
    background-color: #03111c !important
    color: white !important


.body
  background-color: $background-color

=pointer
  cursor: pointer

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer
  +pointer

.inset
  -moz-box-shadow: inset 0 0 0 10px $background-color
  -webkit-box-shadow: inset  0 0 0 10px $background-color
  box-shadow: inset 0 0 0 10px $background-color
  background: lightgray

.timeline
  min-height: 10px
  display: inline-block
  padding: 5px

.timeline-inside
  margin-right: 15px
  padding: 5px

=circle
  width: 17px
  height: 17px
  background: darkgrey
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px


.timeline-dot
  display: inline-block
  margin-right: 30px

  +pointer
  +circle

.circles-text
  line-height: 10px !important
  top: 35px !important
  font-size: 16px !important

.circles-wrp
  margin-top: 20px !important







